<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mb-5">All Events</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4" *ngFor="let event of events | async">
            <div class="card">
                <img class="card-img-top" src="{{ event.Image }}" onerror="this.error=null;this.src='https://image.freepik.com/free-icon/male-profile-user-shadow_318-40244.jpg'">
                <div class="card-body">
                    <h4 class="card-title">{{ event.Title }}</h4>
                    <p class="card-text">{{ event.StartDate }}</p>
                    <a class="btn btn-primary" (click)="viewEvent(event.Title)" routerLink="view-event">View Event</a>
                    <a class="btn btn-primary" (click)="attendEvent(event.Title)" routerLink="loggedin" *ngIf="isLoggedIn | async">Attend</a>
                </div>
            </div>
        </div>
    </div>
</div>
