.events {
    padding-top: 30px;
}

.table {
    width: 90%;
    margin-left: 5%;
}
td {
    text-align: center;
    width: 33.33%;
}
th {
    text-align: center;
    font-size: 25px;
}
.col-md-4 {
    margin-bottom: 15px;
}