<div class="jumbotron">
    <h1 class="display-3">You are logged in!</h1>
    <p class="lead">Start doing some cool shit!</p>
    <hr class="my-4">
    <p>You can begin by getting rid of this silly message header!</p>
    <p class="lead">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".myModal">Click here if you want to see something cool</button>
    </p>
</div>

<div class="modal fade myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">You knew you can do stuff like this?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Pretty cool huh?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
