<h2>Create Event</h2>

<form>
  <div class="form-group">
    <label><b>Title</b></label>
    <input class="form-control" value="" #titleValue>
  </div>
  <div class="form-group">
    <label><b>Start Date</b></label>
    <input class="form-control" value="" #startDateValue>
  </div>
  <div class="form-group">
    <label><b>End Date</b></label>
    <input class="form-control" value="" #endDateValue>
  </div>
  <div class="form-group">
    <label><b>Description</b></label>
    <input class="form-control" value="" #descriptionValue>
  </div>
  <div class="form-group">
    <label><b>Category</b></label>
    <input class="form-control" value="" #categoryValue>
  </div>
  <div class="form-group">
    <label><b>Image</b></label>
    <input class="form-control" value="" #imageValue>
  </div>
  <div class="form-group">
    <label><b>Ticket Price</b></label>
    <input class="form-control" value="" #ticketValue>
  </div>

  <button type="submit" class="btn btn-primary" (click)="createEvent(titleValue.value,startDateValue.value,endDateValue.value,descriptionValue.value,categoryValue.value,imageValue.value,ticketValue.value)">Create Event</button>
</form>