<h1 class="mb-5">Event Information</h1>

<div id="eventInfo">
  <div class="form-group">
    <label ><b>ID: </b></label>
  <div class="form-group">
    <label ><b>Title: </b></label>
  </div>
  <div class="form-group">
    <label ><b>Start Date: </b></label>
  </div>
  <div class="form-group">
    <label ><b>End Date: </b></label>
  </div>
  <div class="form-group">
    <label ><b>Description: </b></label>
  </div>
  <div class="form-group">
    <label ><b>Organizer: </b></label>
  </div>
  <div class="form-group">
    <label ><b>Creation Date: </b></label>
  </div>
</div>

