<div class="col-lg-6 col-sm-6">
  <div class="card hovercard">
    <div class="card-background">
      <img class="card-bkimg"  src="{{ eventInfo.Image ? eventInfo.Image : alt }}">
    </div>
    <div class="useravatar">
      <img alt="" src="{{ eventInfo.Image ? eventInfo.Image : alt }}">
    </div>
    <div class="card-info"> <span class="card-title">{{ eventInfo.Title }}</span>
    </div>
  </div>
</div>

<!-- Tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#information" role="tab" data-toggle="tab">Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#participants" role="tab" data-toggle="tab">Participants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#comments" role="tab" data-toggle="tab">Comments</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="information">
      <form>
          <div class="form-group">
            <label ><b>ID: </b>{{ eventInfo.ID }}</label>
          </div>
          <div class="form-group">
            <label ><b>Title: </b>{{ eventInfo.Title }}</label>
          </div>
          <div class="form-group">
            <label ><b>Start date: </b>{{ eventInfo.Startdate }}</label>
          </div>
          <div class="form-group">
            <label ><b>End Date: </b>{{ eventInfo.EndDate }}</label>
          </div>
          <div class="form-group">
            <label ><b>Description: </b>{{ eventInfo.Description }}</label>
          </div>
          <div class="form-group">
            <label ><b>Organizer: </b>{{ eventInfo.Organizer }}</label>
          </div>
          <div class="form-group">
            <label ><b>Creation Date: </b>{{ eventInfo.DateCreated }}</label>
          </div>
          <div class="form-group">
              <label ><b>Category: </b>{{ eventInfo.Category }}</label>
            </div>
            <div class="form-group">
                <label ><b>Ticket Price: </b>{{ eventInfo.TicketPrice }}</label>
              </div>
        </form> 
  </div>

  <div role="tabpanel" class="tab-pane fade" id="participants">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let participant of eventParticipants">
            <div class="card">
                <img class="card-img-top" src="{{ participant.Image }}" onerror="this.error=null;this.src='https://image.freepik.com/free-icon/male-profile-user-shadow_318-40244.jpg'">
                <div class="card-body">
                    <h4 class="card-title">{{ participant.FullName }}</h4>
                    <p class="card-text">{{ participant.Username }}</p>
                </div>
            </div>
        </div>
      </div>
    </div>  
  </div>
  

  <div role="tabpanel" class="tab-pane fade" id="comments">
  </div>
  </div>
</div>
  