<div class="col-lg-6 col-sm-6">
  <div class="card hovercard">
    <div class="card-background">
      <img class="card-bkimg"  src="{{ userInfo.Image ? userInfo.Image : alt }}">
    </div>
    <div class="useravatar">
      <img alt="" src="{{ userInfo.Image ? userInfo.Image : alt }}">
    </div>
    <div class="card-info"> <span class="card-title">{{ userInfo.Username }}</span>
    </div>
  </div>
</div>

<!-- Tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#eventsCreated" role="tab" data-toggle="tab">Events Created</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#eventsAttended" role="tab" data-toggle="tab">Events Attended</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#currentEvents" role="tab" data-toggle="tab">Current Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#following" role="tab" data-toggle="tab">Following</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#followers" role="tab" data-toggle="tab">Followers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#information" role="tab" data-toggle="tab">Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#recommended" role="tab" data-toggle="tab">Recommended For You</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#reports" role="tab" data-toggle="tab" *ngIf="adminFlagObs | async ">Reports</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="eventsCreated">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4" *ngFor="let event of eventsCreated | async">
          <div class="card">
            <img class="card-img-top" src="{{ event.Image }}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{ event.Title }}</h4>
              <p class="card-text">{{ event.StartDate }}</p><br>
              <p class="card-text">{{ event.EndDate }}</p>
              <a href="#" class="btn btn-primary">Edit Event</a>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div role="tabpanel" class="tab-pane fade" id="eventsAttended">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4" *ngFor="let event of eventsAttended | async">
          <div class="card">
            <img class="card-img-top" src="{{ event.Image }}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{ event.Title }}</h4>
              <p class="card-text">{{ event.StartDate }}</p><br>
              <p class="card-text">{{ event.EndDate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="currentEvents">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4" *ngFor="let event of currentEvents | async">
          <div class="card">
            <img class="card-img-top" src="{{ event.Image }}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{ event.Title }}</h4>
              <p class="card-text">{{ event.StartDate }}</p>
              <p class="card-text">{{ event.EndDate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="following">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let f of following | async">
          <div class="card">
            <img class="card-img-top" src="{{ f.Image }}" onerror="this.error=null;this.src='https://image.freepik.com/free-icon/male-profile-user-shadow_318-40244.jpg'">
            <div class="card-body">
              <h4 class="card-title">{{ f.FullName }}</h4>
              <p class="card-text">{{ f.UserName }}</p>
              <a href="#" class="btn btn-primary">Unfollow</a>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div role="tabpanel" class="tab-pane fade" id="followers">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let follower of followers | async">
            <div class="card">
                <img class="card-img-top" src="{{ follower.Image }}" onerror="this.error=null;this.src='https://image.freepik.com/free-icon/male-profile-user-shadow_318-40244.jpg'">
                <div class="card-body">
                    <h4 class="card-title">{{ follower.FullName }}</h4>
                    <p class="card-text">{{ follower.UserName }}</p>
                </div>
            </div>
        </div>
      </div>
    </div>  
  </div>

  <div role="tabpanel" class="tab-pane fade" id="information">
    <form>
      <div class="form-group">
        <label ><b>Full Name: </b>{{ (userInfo.FullName) ? userInfo.FullName : msg}}</label>
      </div>
      <div class="form-group">
        <label ><b>Username: </b>{{ (userInfo.Username) ? userInfo.Username : msg}}</label>
      </div>
      <div class="form-group">
        <label ><b>Email: </b>{{ (userInfo.Email) ? userInfo.Email : msg}}</label>
      </div>
      <div class="form-group">
        <label ><b>Gender: </b>{{ (userInfo.Gender) ? userInfo.Gender : msg}}</label>
      </div>
      <div class="form-group">
        <label ><b>Birth Date: </b>{{ (userInfo.Birthdate) ? userInfo.Birthdate : msg}}</label>
      </div>
      <div class="form-group">
        <label ><b>Biography: </b>{{ (userInfo.Bio) ? userInfo.Bio : msg}}</label>
      </div>
      <div class="form-group">
        <label ><b>Interests: </b>{{ (userInfo.Interests) ? userInfo.Interests : msg}}</label>
      </div>
    </form>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="recommended">Recommended for you</div>
  <div role="tabpanel" class="tab-pane fade" id="reports">Reports</div>
</div>
